.admin-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  transition: margin-left 0.3s ease-in-out;
  position: relative;
}

.admin-left-drawer {
  background-color: #e8e2a1; 
  color: white;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  bottom: 0;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}





.admin-left-drawer.open {
  transform: translateX(250px); 
}

.admin-left-drawer.mat-drawer-close {
  transform: translateX(-250px); 
}

.mat-drawer-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
}

.mat-drawer-content.full-width {
  margin-left: 0;
  width: 100%;
}
/* Sidebar Links */
.admin-left-drawer .mat-drawer-content a {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.admin-left-drawer .mat-drawer-content a:hover {
  background-color: #32CD32;
  border-radius: 5px;
}

.app-sidebar {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

.app-sidebar ul {
  padding: 0;
  list-style: none;
}

.app-sidebar ul li {
  padding: 10px 0;
}

.app-sidebar ul li a {
  color: #ffffff;
  font-size: 1rem;
  padding: 10px;
  display: block;
  transition: all 0.3s ease;
}

.app-sidebar ul li a:hover {
  background-color: #32CD32;
  border-radius: 5px;
}

.menu-toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #800080;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1100;
  display: block; /* Visible on mobile */
  transition: background-color 0.3s ease;
}

.menu-toggle:hover {
  background-color: #dbbe39;
}

.mat-drawer-content {
  transition: margin-left 0.3s ease-in-out;
}

.admin-left-drawer.open ~ .mat-drawer-content {
  margin-left: 250px; 
}

.admin-left-drawer.closed ~ .mat-drawer-content {
  margin-left: 0; 
}

@media (max-width: 991px) {
  .admin-left-drawer {
    position: absolute;
    top: 0;
    left: -250px; 
    z-index: 1000;
    transition: left 0.3s ease-in-out;
  }

  .admin-left-drawer.open {
    left: 0; 
  }

  .mat-drawer-content {
    margin-left: 0;
  }

  .menu-toggle {
    display: block; 
  }

  .app-sidebar ul li a {
    font-size: 1.2rem;
    padding: 15px;
  }

  .app-footer {
    position: relative;
  }

  .sidebar-container {
    flex-direction: column;
  }

  .menu-toggle {
    left: 15px;
    top: 15px; 
  }
}

@media (max-width: 576px) {
  .app-sidebar ul li a {
    font-size: 1rem;
    padding: 10px;
  }

  .menu-toggle {
    left: 15px;
    top: 15px;
  }
}
