
<button
  class="menu-toggle"
  (click)="toggleSidebar()"
>
  ☰
</button>

<!-- Footer -->
 <!-- <app-header></app-header> -->
<mat-drawer-container class="admin-container">
  <!-- Sidebar -->
  <mat-drawer
    #drawer
    mode="side"
    [opened]="isSidebarOpen"
    class="admin-left-drawer"
    (openedChange)="onDrawerToggle($event)"
  >
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <!-- Main content -->
  <mat-drawer-content [ngClass]="{ 'full-width': !isSidebarOpen }">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<!-- <app-footer></app-footer> -->
