/* Sidebar container */
.sidebar-container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Yatay kaydırmayı engeller */
  position: relative;
}

/* Sidebar */
.admin-left-drawer {
  background: linear-gradient(90deg, #1E90FF, #32CD32);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: white;
  width: 250px;
  transition: all 0.3s ease;
}

/* Sidebar açıldığında */
.admin-left-drawer .mat-drawer-content {
  padding: 20px;
}

.admin-left-drawer .mat-drawer-content a {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.admin-left-drawer .mat-drawer-content a:hover {
  background-color: #32CD32;
  border-radius: 5px;
}

/* Sidebar Header */
.app-sidebar {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

.app-sidebar ul {
  padding: 0;
  list-style: none;
}

.app-sidebar ul li {
  padding: 10px 0;
}

.app-sidebar ul li a {
  color: #ffffff;
  font-size: 1rem;
  padding: 10px;
  display: block;
  transition: all 0.3s ease;
}

.app-sidebar ul li a:hover {
  background-color: #32CD32;
  border-radius: 5px;
  color: white;
}

/* Menü Butonu */
.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #800080;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1100;
}

.menu-toggle:hover {
  background-color: #dbbe39;
}

/* Sidebar ve içerik kapsayıcı */
.admin-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Sidebar açıldığında içerik kayar */
.mat-drawer-content {
  transition: margin-left 0.3s ease-in-out;
}

.admin-left-drawer.open ~ .mat-drawer-content {
  margin-left: 250px;
}

/* Footer */
.app-footer {
  background: linear-gradient(45deg, #1E90FF, #32CD32);
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.app-footer p {
  margin: 0;
}
