<div class="register-container d-flex justify-content-center align-items-center vh-100">
    <div class="register-card col-md-6 col-lg-4 p-4 shadow-sm bg-white rounded">
        <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm.value)">
            <!-- FullName -->
            <div class="mb-3">
                <label for="fullName" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="fullName" formControlName="fullName" [class.is-invalid]="
            registerForm.controls['fullName'].invalid &&
            registerForm.controls['fullName'].touched
          " placeholder="Enter your full name" required />
                <div class="invalid-feedback">
                    <small *ngIf="registerForm.controls['fullName'].hasError('required')">Full Name is required.</small>
                    <small *ngIf="registerForm.controls['fullName'].hasError('minlength')">Full Name must be at least 3
                        characters.</small>
                </div>
            </div>
            <!-- UserName -->
            <div class="mb-3">
                <label for="userName" class="form-label">User Name</label>
                <input type="text" class="form-control" id="userName" formControlName="userName" [class.is-invalid]="
            registerForm.controls['userName'].invalid &&
            registerForm.controls['userName'].touched
          " placeholder="Enter your user name" required />
                <div class="invalid-feedback">
                    <small *ngIf="registerForm.controls['userName'].hasError('required')">Username is required.</small>
                    <small *ngIf="registerForm.controls['userName'].hasError('minlength')">Username must be at least 5
                        characters.</small>
                </div>
            </div>
            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email" [class.is-invalid]="
            registerForm.controls['email'].invalid &&
            registerForm.controls['email'].touched
          " placeholder="Enter your e-mail" required />
                <div class="invalid-feedback">
                    <small *ngIf="registerForm.controls['email'].hasError('required')">email is required.</small>
                    <small *ngIf="registerForm.controls['email'].hasError('email')">please enter a valid email</small>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" [class.is-invalid]="
            registerForm.controls['password'].invalid &&
            registerForm.controls['password'].touched
          " placeholder="Enter your password" required />
                <div  class="invalid-feedback">
                    <small *ngIf="registerForm.controls['password'].hasError('required')">Password is required.</small>
                </div>
                <div  class="invalid-feedback">
                    <small *ngIf="registerForm.controls['password'].hasError('minlength')">Password must contain at least 8 characters.</small>
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                    [class.is-invalid]="
            registerForm.controls['confirmPassword'].invalid &&
            registerForm.controls['confirmPassword'].touched
          " placeholder="Confirm password" required />
                <div class="invalid-feedback">
                    <small>Passwords do not match!</small>
                </div>
            </div>
            <!-- Checkbox -->
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="agreeTerms" formControlName="agreeTerms" required />
                <label class="form-check-label" for="agreeTerms">I agree to the terms</label>
            </div>
            <!-- Submit -->
            <button type="submit" class="btn btn-primary w-100" [disabled]="!registerForm.valid">
                Sign Up
            </button>
        </form>
    </div>
</div>