.custom-card {
    background-color: #feefd9;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #160975 ;
    transition: box-shadow 0.3s ease;
    margin-top: -3rem;
  }
  .register-container{
    background-color: #feefd9;

  }
  .form-control {
    border-radius: 16px;
    background-color: #feefd9;
    box-shadow: inset 3px 3px 6px #e5e5e5, inset -3px -3px 6px #feefd9;
    padding: 12px 16px;
    border: 1px solid #feefd9;
    font-size: 14px;
    transition: border 0.2s;
  }
  
  .form-control:focus {
    border-color: #ff8fab;
  }
  
  .invalid-feedback {
    font-size: 12px;
    color: #dc3545;
  }
  
  .custom-btn {
    background-color: #c0bbe6;
    color: #166534;
    font-weight: bold;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05), -4px -4px 10px rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s ease;
  }
  
  .custom-btn:hover {
    background-color: #a3dec9;
  }
  .form-label {
    color: #160975;
    font-weight: 500;
  }