<div class="container container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm custom-card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Reset Password</h3>

                    <!-- Form -->
                    <form>
                        <div class="mb-3">
                            <label for="newPassword">New Password</label>
                            <input #txtPassword type="password" class="form-control" placeholder="Enter your password" required />
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword">Confirm Password</label>
                            <input #txtConfirmPassword type="password" class="form-control" placeholder="Re-enter your password" required />
                        </div>
                        <div *ngIf="txtPassword !== txtConfirmPassword && txtConfirmPassword">
                            <small class="text-danger">Passwords do not match!</small>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="button" class="btn custom-btn btn-block" (click)="updatePassword(txtPassword.value)">
                                Update Password
                            </button>
                        </div>
                    </form>

                    <div class="text-center mt-3">
                        <a href="/login" class="text-decoration-none">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
