// Global Styles
$bg-color: #fef9c7;
$primary-btn-color: rgba(128, 0, 128, 1);

.container {
  background-color: $bg-color;
  font-family: Arial, sans-serif;
  max-width: 100% !important;
  justify-content: center;
  width: 100vw;  
  height: 100vh; 

}


.custom-card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-top: -40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-btn {
  background-color: $primary-btn-color;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;

  &:hover {
    background-color: darken($primary-btn-color, 10%);
  }
}

.card-title {
  color: rgba(128, 0, 128, 1);
}

.card-body {
  padding: 30px;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ddd;
}

.text-center a {
  color: $primary-btn-color;
  text-decoration: none;

  &:hover {
    color: darken($primary-btn-color, 10%);
  }
}

@media (max-width: 576px) {
  .card {
    padding: 15px;
  }
}
