/* Main container */
.container-fluid {
  background-color: #feefd9;
}


.custom-card {
  background-color: #feefd9;
  margin-top: -4rem;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1),
              -4px -4px 10px rgba(255, 255, 255, 0.8);
  transition: box-shadow 0.3s ease;
}

/* Card hover effect */
.custom-card:hover {
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.15),
              -8px -8px 30px rgba(255, 255, 255, 0.9);
}

.card-title {
  color: #160975;
  font-size: 22px;
  font-weight: 600;
}

.form-label {
  font-weight: 500;
  color: #160975;
}

.custom-input {
  padding: 12px 16px;
  font-size: 14px;
  border: 1px solid #feefd9;
  border-radius: 16px;
  background-color: #feefd9;
  box-shadow: inset 3px 3px 6px #e5e5e5, inset -3px -3px 6px #feefd9;
  transition: border 0.2s;
}

.custom-input:focus {
  border-color: #ff8fab;
}

.custom-btn {
  background-color: #c0bbe6;
  color: #166534;
  font-weight: bold;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05),
              -4px -4px 10px rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #a3dec9;
}

.custom-link {
  font-size: 13px;
  color: #a14c00;
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: underline;
}
