.listComponent {
  font-family: 'Roboto', sans-serif;
  padding: 0 15px;
}

.custom-card {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.custom-card .card-description {
  display: none;
  margin-top: 1rem;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
}

.custom-card .expanded-text + .card-description {
  display: block;
}

.custom-card .card-body {
  transition: max-height 0.4s ease-out;
  overflow: hidden;
}

.custom-card .expanded-text {
  font-size: 1.1rem;
  font-weight: bold;
}

.custom-card-title {
  font-size: 1.5rem;
  color: #160975;
  font-weight: bold;
  margin-bottom: 15px;
}

.custom-card-text {
  font-size: 1rem;
  color: #160975;
  line-height: 1.5;
  text-align: center;
  transition: max-height 0.3s ease;
}

.custom-card-text.expanded-text {
  max-height: none;
}

.custom-price {
  font-size: 1.25rem;
  font-weight: 600;
  color: #160975;
  margin-top: 15px;
}

.custom-btn {
  background-color: #301dc4;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #171147;
}

.custom-pagination {
  justify-content: center;
}

.custom-pagination .page-link {
  background-color: #fff3e5;
  color: #301dc4;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: 500;
}

.custom-pagination .page-link.active {
  background-color: #171147;
  color: white;
}

.custom-pagination .page-link:hover {
  background-color: #171147;
}

.custom-pagination .page-item {
  margin: 0 5px;
}

@media (max-width: 768px) {
  .custom-card-title {
    font-size: 1.25rem;
  }

  .custom-card-text {
    font-size: 0.9rem;
  }

  .custom-price {
    font-size: 1.1rem;
  }
}
