<div class="listComponent" class="container mt-4">
  <div class="row g-4">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let product of products; let i = index" 
         (mouseenter)="setHoveredIndex(i)" (mouseleave)="resetHoveredIndex()">
      <div class="card shadow-lg border-0 rounded-4 h-100">

        <img width="250" height="250" *ngIf="!product.productImageFile?.length" src="assets/defaultImage.jpg"  class="card-img-top" alt="...">
        <img width="250" height="250" *ngIf="product.productImageFile?.length" src="{{baseStorageUrl.url}}/{{product.imagePath}}" class="card-img-top" alt="...">


        <div class="card-body text-center d-flex flex-column">
          <h3 class="card-title text-primary">{{ product.title }}</h3>
          <p class="card-text text-muted flex-grow-1"
             [ngClass]="{'expanded-text': hoveredIndex === i}"> 
            {{ product.description | slice:0:150 }}...
          </p>
          <p>
            {{product.price}}$
          </p>
          <a href="#" class="btn btn-custom mt-auto">Add Basket</a>     
        </div>
      </div>
    </div>
  </div>
  
  
  
    <nav aria-label="Page navigation example" class="mt-4">
      <ul class="pagination pagination-custom">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span>&laquo; Prev</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link active" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span>Next &raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>