<div class="listComponent container mt-4">
  <div class="row g-4">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let product of products; let i = index" 
         (mouseenter)="setHoveredIndex(i)" (mouseleave)="resetHoveredIndex()">
      <div class="card custom-card shadow-lg rounded-4 h-100">

        <img width="250" height="250" *ngIf="!product.productImageFiles?.length" 
             src="assets/defaultImage.jpg" class="card-img-top" alt="...">
        <img width="250" height="250" *ngIf="product.productImageFiles?.length" 
             src="{{this.baseStorageUrl.url}}/{{product.imagePath}}" 
             class="card-img-top" alt="...">

        <div class="card-body text-center d-flex flex-column">
          <h3 class="card-title custom-card-title">{{ product.title }}</h3>
          <p class="card-text custom-card-text flex-grow-1" [ngClass]="{'expanded-text': hoveredIndex === i}"> 
            {{ product.description | slice:0:150 }}...
          </p>
          <p class="custom-price">
            {{ product.price }}$
          </p>
          <a class="btn custom-btn mt-auto" (click)="addItemToBasket(product.id, 1)">Add to Basket</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <nav aria-label="Page navigation example" class="mt-4">
    <ul class="pagination custom-pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span>&laquo; Prev</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link active" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span>Next &raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
