/* Global Reset - Body ve HTML */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.product-container {
    display: flex;
    height: 100vh; 
    width: 82vw; 
    margin: 0;
    border: none;
    box-sizing: border-box; 
}


mat-drawer {
    width: 250px; 
    background: #fef9c7; 
    color: #333; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 10;
    padding: 15px;
    box-sizing: border-box; 
}


mat-drawer-content {
    flex-grow: 1; 
    background: #fff8e1; 
    padding: 20px;
    overflow-y: auto; 
    overflow-x: hidden; 
    box-sizing: border-box; 
    width: 10%; 
}
