/* Global Reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.product-container {
  display: flex;
  flex-direction: row; 
  height: 100vh;
}


.product-drawer {
  width: 250px; 
  background: #fef9c7;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  box-sizing: border-box;
  z-index: 10;
  transition: transform 0.3s ease;
}

.main-content {
  flex-grow: 1;
  background: #fff8e1;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  transition: width 0.3s ease;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column; 
  }

  .product-drawer {
    width: 100%; 
    margin-bottom: 20px; 
  }

  .main-content {
    width: 100%; 
  }
}

@media (min-width: 768px) {
  .product-container {
    flex-direction: row; 
  }

  .product-drawer {
    width: 250px; 
  }

  .main-content {
    width: calc(100% - 250px); 
  }
}
