.navbar {
  background: linear-gradient(90deg, #1E90FF, #32CD32);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  padding: 10px 20px; 
  box-sizing: border-box; 

}
.PageContent{
  margin-top: 60px;
}

.navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
}

.nav-link {
  color: #ffffff !important;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: #98FB98 !important;
  transform: scale(1.1);
}

.navbar-toggler-icon {
  background-color: #32CD32 !important;
  transition: background-color 0.3

}
.navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
}

.nav-link {
  color: #ffffff !important;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: #98FB98 !important;
  transform: scale(1.1);
}

.navbar-toggler-icon {
  background-color: #32CD32 !important;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-toggler.open .navbar-toggler-icon {
  transform: rotate(90deg);
  background-color: #fff;
}

.btn-gradient-custom {
  background: #1E90FF;
  border: none;
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.btn-gradient-custom:hover {
  background: linear-gradient(45deg, #32CD32, #1E90FF);
  transform: scale(1.1);
}

.btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
  transition: all 0.3s ease;
}

.btn-outline-light:hover {
  background-color: #32CD32;
  color: #ffffff;
  border-color: #32CD32;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar {
    padding: 10px 20px;
  }

  .nav-link {
    font-size: 1.2rem;
  }
}
