<mat-dialog-content class="dialog-content">
  <app-file-upload [options]="options" class="file-upload"></app-file-upload>

  <div class="uploaded-images">
    <h3 class="uploaded-title">Uploaded Images</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
      <div class="col" *ngFor="let image of images">
        <div class="product-image-card">
          <img mat-card-image [src]="image.path" alt="Uploaded Image" />
          <div class="mat-card-actions">
            <button mat-icon-button class="delete-button" (click)="deleteProductImage(image.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>
